Flask==0.10.1
Flask-Slack==0.1.2
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.9.6
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
itsdangerous==0.24
pyslack==0.1.0
requests==2.5.1
six==1.9.0
slackclient==0.13
slacker==0.5.4
sympy==0.7.6
websocket-client==0.23.0
wsgiref==0.1.2
